<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <% if client.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', client, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if client.persisted? %>
      <%= link_to "Cancel", client, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", clients_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
