


<div class="row">
  <div class="col-sm-6">
    <h1>Clients</h1>
  </div>

  <!-- <div class="col-sm-6 text-right">
  <%= link_to new_client_path, class: 'btn btn-primary' do %>
    Add New Client
  <% end %>
  </div> --> 
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr> 
    

          <th>Due Date</th>  
          <th>Client Name</th>
          <th>Birth Location</th>
          <th>Phone Number</th>

        
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <%= content_tag :tr, id: dom_id(client), class: dom_class(client) do %>
          

          
          
            <td><%= link_to 'Show', client %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
